@model Carbontally.Models.RegisterViewModel

@{
    ViewBag.Title = "Carbontally - Register";
}

@using (Html.BeginForm("Register","Account",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.Bootstrap().ValidationSummary();
    
    @Html.Bootstrap().FormGroup().TextBoxFor(m => m.Email).ShowValidationMessage(false)
    @Html.Bootstrap().FormGroup().PasswordFor(m => m.Password).ShowValidationMessage(false)
    @Html.Bootstrap().FormGroup().PasswordFor(m => m.ConfirmPassword).ShowValidationMessage(false)
        
    <div>
        @Html.Bootstrap().SubmitButton().Text("Register").Style(ButtonStyle.Primary)
    </div>
}
