@model Carbontally.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register","Account",FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.AntiForgeryToken()

    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.UserName);
    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Password);
    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.ConfirmPassword);
    
    using(Html.Bootstrap().Begin(new FormActions()))
    {
        <div>
            @Html.Bootstrap().SubmitButton().Text("Register")
        </div>
    }
}
