@model Carbontally.Models.RegisterViewModel

@{
    ViewBag.Title = "Carbontally - Register";
}

@using (Html.BeginForm("Register","Account",FormMethod.Post, new { @class = "form-horizontal" })) {
    @Html.AntiForgeryToken()
    @Html.Bootstrap().ValidationSummary(true)

    @Html.Bootstrap().ControlGroup().TextBoxFor(m => m.Email)
    @Html.Bootstrap().ControlGroup().PasswordFor(m => m.Password)
    @Html.Bootstrap().ControlGroup().PasswordFor(m => m.ConfirmPassword)
    
    using(Html.Bootstrap().Begin(new FormActions()))
    {
        <div>
            @Html.Bootstrap().SubmitButton().Text("Register").Style(ButtonStyle.Primary)
        </div>
    }
}
