@model Carbontally.Models.RegisterViewModel

@{
    ViewBag.Title = "Carbontally - Register";
}

@using (var form = Html.Bootstrap().Begin(new Form().InputWidthLg(3).InputWidthMd(3).InputWidthSm(11).InputWidthXs(11).Type(FormType.Horizontal))) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @Html.Bootstrap().ValidationSummary().ExcludePropertyErrors(true)
        </div>
    </div>
    @form.FormGroup().TextBoxFor(m => m.Email)
    @form.FormGroup().PasswordFor(m => m.Password)
    @form.FormGroup().PasswordFor(m => m.ConfirmPassword)
       
    @(form.FormGroup().CustomControls(
        @Html.Bootstrap().SubmitButton().Text("Register").Style(ButtonStyle.Primary).LoadingText("Working...")))
}
